// Nextflow configuration for Pipeline 2

// Manifest
manifest {
    name            = 'pipeline-2-variant-calling'
    author          = 'EMBO Course 2026'
    homePage        = 'https://github.com/embo/nextflow-course'
    description     = 'Variant calling pipeline with subworkflows and conditionals'
    mainScript      = 'main.nf'
    nextflowVersion = '>=1.0'
    version         = '1.0.0'
}

// Default parameters
params {
    manifest = "$baseDir/data/manifest.csv"
    reference = "$baseDir/data/reference.fa"
    outdir = "results"
    caller = "gatk"
    help = false
}

// Process execution configuration
process {
    // Default settings
    cpus = 2
    memory = '4 GB'
    time = '2h'
    
    // Process-specific settings
    withName: 'VARIANT_CALLING_GATK' {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }
    
    withName: 'VARIANT_CALLING_FREEBAYES' {
        cpus = 2  
        memory = '4 GB'
        time = '3h'
    }
    
    withName: 'VARIANT_CALLING_BCFTOOLS' {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }
}

// Execution profiles
profiles {
    standard {
        executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process {
            withName: 'VARIANT_CALLING_GATK' {
                container = 'broadinstitute/gatk:4.4.0.0'
            }
            withName: 'VARIANT_CALLING_FREEBAYES' {
                container = 'quay.io/biocontainers/freebayes:1.3.6--hbfe0e7f_2'  
            }
            withName: 'VARIANT_CALLING_BCFTOOLS' {
                container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
            }
        }
    }
    
    cluster {
        executor = 'slurm'
        process {
            queue = 'compute'
            clusterOptions = '--account=my_account'
        }
    }
}

// Resource and reporting configuration
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}